* {
    margin: 0;
    padding: 0;
}

body {
    display: table;
    margin: auto;
    margin-top: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a {
    text-decoration: none;
    border: solid 2px black;
    width: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

li {
    transition: 0.2s;
} 

li:hover {
    transform: scale(110%);
}

ul:hover li:not(:hover) {
    opacity: 0.4;
}