* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background: rgb(255, 255, 255);
}

/* ------------------ SHARED ---------------- */
.fixed-width {
    width: 60%;
}

/* ------------------- FIRST PAGE ------------------- */
nav {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav img {
    height: 30px;
    margin: 10px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav-content h1 {
    font-size: 3em;
}

.nav-content .hrefs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-content .hrefs a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 10px;
    font-size: 1.4em;
}

.first-page {
    background: url("images/Sport-Illustration-Graphics-cut.jpg");
    background-position: 30% 20%;
    height: 80%;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.first-page .info {
    width: 550px;
    margin: 13% 0 0 55%;
    font-size: 1.59em;
}