* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(240, 240, 240);
}

.container {
    display: flex;
    align-items: flex-start;
}

.nav-style {
    background: white;
    margin: 2em 4em;
    border-radius: 20px;
    padding: 1em 4em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-style h1 {
    font-size: 3em;
}

.nav-style img {
    height: 50px;
}

.search-container {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    background: rgb(230, 230, 230);
}

.search-container input {
    border: none;
    font-size: 1.6em;
    background: none;
}

.search-container input:focus {
    outline: none;
    color: rgb(83, 83, 83);
}

.nav-style .right-site {
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-style .right-site button {
    border: none;
    padding: 15px 35px;
    border-radius: 20px;
    background: rgb(255, 148, 148);
    font-size: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Courier New';
    font-weight: 900;
}