* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.first-page {
    background: url("images/people.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
=======
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    height: 100vh;
    width: 100vw;
}

.first-page {
    background: linear-gradient(0.25turn,
        rgba(0, 0, 0, 0.1) 10%,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)) 10%,
        url("images/people-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
>>>>>>> d41a00e (idk stash pop)
}

.first-page nav {
    display: flex;
<<<<<<< HEAD
    padding: 20px 50px;
    align-items: center;
=======
    flex-direction: row;
    padding: 2em 4em;
>>>>>>> d41a00e (idk stash pop)
    justify-content: space-between;
    border-bottom: 1px solid white;
}

<<<<<<< HEAD
.first-page img {
    height: 30px;
}

.first-page .hrefs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first-page .hrefs a {
    text-decoration: none;
    color: white;
}

.first-page .container {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.first-page .button {
    padding: 20px 30px;
    background: blue;
    width: fit-content;
    border-radius: 30px;
}

.first-page .obal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-page {
    background: blue;
    display: flex;
    padding: 50px 30px;
}

.second-page .left-side {
    width: 30%;
    height: 100%;
    background: green;
}

.second-page .right-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.second-page .right-side .box {
    width: 400px;
    padding: 30px;
    background: red;
=======
.first-page nav img {
    height: 30px;
    margin: 0 0.3em;
}

.first-page nav div {
    display: flex;
    flex-direction: row;
}

.first-page a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-weight: 900;
}

#nav-link {
    display: flex;
    align-items: center;
}

.first-page #content {
    display: flex;
    justify-content: center;
    margin-top: 15em;
    height: 100%;
    width: 100%;
}

.first-page #content div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-page #content h1 {
    font-size: 4em;
    margin-bottom: 0.7em;
    font-weight: 700;
}

.first-page #content p:nth-of-type(1) {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 1em;
}

.first-page #button {
    background: rgb(0, 110, 255);
    width: fit-content;
    padding: 1em 2em;
    border-radius: 50px;
    font-weight: 900;
>>>>>>> d41a00e (idk stash pop)
}