

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    padding: 0.6em 0.6em;
}

body {
    font-family: "Roboto", sans-serif;
    color: rgb(219, 219, 219);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

/* -------------- HOME PAGE ------------------- */

.home-page {
    background: url("images/pexels-photo-9392381.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 40%;
    padding: 5em;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

form input {
    font-size: 1.4em;
    background: none;
    color: grey;
    border: solid 2px grey;
    border-right: None;
    padding: 7px 10px;
    width: 8em;
    transition: 0.3s;
    outline: none;
}

form input:hover, form input:focus {
    padding-left: 15px;
    width: 10em;
}

#magnifyin-glass-icon-wrapper {
    border: solid 2px grey;
    border-left: none;
    padding: 8px 10px 0 0;
}

#magnifyin-glass-icon-wrapper:hover {
    cursor: pointer;
}

#magnifyin-glass-icon {
    background: grey;
    mask: url("images/icons/Fa-Team-Fontawesome-FontAwesome-Magnifying-Glass.svg");
    -webkit-mask: url("images/icons/Fa-Team-Fontawesome-FontAwesome-Magnifying-Glass.svg") no-repeat center;
    height: 1.5em;
    width: 1.5em;
}

.navigation a {
    text-decoration: none;
    font-weight: 700;
    margin: 0 20px;
    font-size: 25px;
    color: rgb(35, 35, 35);
    transition: 0.2s;
    display: inline-block;
}

.navigation a:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    border-bottom: solid 5px rgb(255, 187, 0);
}

.home-page h1 {
    font-size: 5.5em;
    color: rgb(255, 187, 0);
    margin: 70px 0 0 0;
}

.boxes {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 3em 0;
}

.box {
    background: rgba(29, 35, 45, 0.6);
    padding: 20px 30px;
    width: 27%;
    height: fit-content;
    transition: 0.3s;
    cursor: pointer;
}

.box:hover {
    transform: scale(102%);
    background: rgba(29, 35, 45, 1);
}

.boxes:hover .box:not(:hover) {
    opacity: 0.7;
    transform: scale(98%);
}

.box h3 {
    font-size: 25px;
    margin: -1em 0 2em 0;
}

.box p {
    font-size: 20px;
}

.general-icon {
    background: rgb(255, 187, 0);
    height: 7em;
    margin-left: 20em;
}

#building-icon {
    mask: url("images/icons/Pictogrammers-Material-Factory.svg");
    -webkit-mask: url("images/icons/Pictogrammers-Material-Factory.svg") no-repeat center;
}

#industrial-icon {
    mask: url("images/icons/Roundicons-100-Free-Solid-Industry.svg");
    -webkit-mask: url("images/icons/Roundicons-100-Free-Solid-Industry.svg") no-repeat center;
}

#future-icon {
    mask: url("images/icons/Roundicons-100-Free-Solid-Home.svg");
    -webkit-mask: url("images/icons/Roundicons-100-Free-Solid-Home.svg") no-repeat center;
}

#more-button {
    border: solid 2px rgb(255, 187, 0);
    background: linear-gradient(to left, transparent 50%, rgb(255, 187, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    width: fit-content;
    padding: 10px 50px;
    font-size: 20px;
    margin: 20px 0 30px 0; 
    letter-spacing: 3px;
    cursor: pointer;
    transition: background-position 0.5s ease;
}

#more-button:hover {
    background-position: left bottom;
    color: rgb(50, 50, 50);
}

/* -------------- SECOND PAGE -------------- */
.nd-page {
    color: rgb(35, 35, 35);
    padding: 5em;
    display: flex;
}

.worker {
    background-image: url("images/pexels-photo-6474449.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 25% 3% 4% 3%;
}

.worker img {
    width: 15em;
}

.worker h3 {
    letter-spacing: 2px;
    margin-bottom: 7%;
}

.worker p {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 5%;
    width: max-content;
}

.split-line {
    height: 10px;
    width: 60px;
    background: rgb(255, 187, 0);
    margin: auto;
    display: table;
}

.nd-page-right {
    display: flex;
    flex-wrap: wrap;
}

.nd-page-text {
    padding: 5% 7%;
}

.nd-page-text h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    display: block;
    font-weight: 700;
}

.nd-page-text p {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}