* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.first-page {
    width: 100%;
    height: 70vh;
    color: white;
    background: url("images/OIP.webp");
    /* filter: blur(8px); */
}

.first-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.first-page .hrefs {
    display: flex;
    gap: 30px;
}

.first-page .hrefs a {
    text-decoration: none;
    color: white;
}

.first-page .container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70%;
    width: 60%;
    gap: 20px;
}

.first-page .content h1 {
    font-size: 100px;
}

.first-page .button {
    background: blue;
    padding: 20px 30px;
    border-radius: 30px;
}

.second-page {
    background: white;
    color: black;
    display: flex;
    height: auto;
}

h3 {
    margin: 50px 0 10px 40px;
}

.second-page .left-side {
    padding: 40px;
    width: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.second-page .left-side img {
    width: 400px;
}

.second-page .right-side .container {
    display: flex;
    gap: 40px;
}

.third-page {
    background: rgb(224, 224, 224);
    color: black;
    padding: 40px;
}

.third-page h1 {
    text-align: center;
}

.third-page .boxes {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
    padding: 40px;
}

.box img {
    height: 50px;
    border-radius: 100%;
    background: blue;
    padding: 10px;
}